/*****************************************************
Content card styling
*****************************************************/

.landing-page section {

  /*****************************************************
  cards container div
  *****************************************************/

  .cards {
    background-color: #471008;
    background-image: url("../images/red-cloud-bg-dk.jpg");
    background-size: 100%;
    background-position-y: -600px;
    background-repeat: no-repeat;
  }

  .card-grid {
    margin: 0 auto;
    text-align: center;

    /*****************************************************
    card styling - need dynamic solution for card sizes
    *****************************************************/

    .card {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e28888+1,c9c9c9+49,d6d6d6+51,999999+100 */
      background: #e28888; /* Old browsers */
      background: -moz-linear-gradient(top, #e28888 1%, #c9c9c9 49%, #d6d6d6 51%, #999999 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #e28888 1%,#c9c9c9 49%,#d6d6d6 51%,#999999 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #e28888 1%,#c9c9c9 49%,#d6d6d6 51%,#999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e28888', endColorstr='#999999',GradientType=0 ); /* IE6-9 */

      border-radius: 7px;
      color: #fff;
      display: inline-block;
      margin: 10px;
      box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
      transition: all .2s ease-in-out;


      &.portrait {
        width: 156px;
        height: 235px;
      }
      &.landscape {
        width: 235px;
        height: 156px;
      }

      .card-content {
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        height: 80%;
        margin: 1em;
        position: relative;
      }

      &#boardgames .card-content {
        background-image: url('../images/card-bg-boardgames.png');
      }
      &#ccg .card-content {
        background-image: url('../images/card-bg-ccg.png');
      }
      &#minis .card-content {
        background-image: url('../images/card-bg-minis.png');
      }
      &#rpg .card-content {
        background-image: url('../images/card-bg-rpg.png');
      }
      &#larp .card-content {
        background-image: url('../images/card-bg-larp.png');
      }
      &#egames .card-content {
        background-image: url('../images/card-bg-egames.png');
      }

      .card-title {
        color: white;
        font-family: $sub-text-bold;
        font-size: 18px;
        position: absolute;
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
        width: 100%;

        &.bottom {
          bottom: -8px;
        }
      }

    }
  }

  /*****************************************************
  card pop-up styling
  *****************************************************/

  .cardback {
    width: 470px !important;
    height: 312px !important;
    transition: all .2s ease-in-out;

    .card-content {
      background-image: none !important;
    }
  }

  .cardback-big {
    width: 100% !important;
    min-height: 450px;
    max-width: 900px;
    max-height: 450px;
    transition: all .1s ease-in-out;

    .card-content {
      background-image: none !important;
    }
  }

  .card-popup,
  .card-popup-content {
    display: none;
  }

  .card-popup {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: #000;
    border-radius: 6px;
    max-width: 900px;
    margin: 0 auto;
  }

}
