/*****************************************************
Content card styling
*****************************************************/

.landing-page section {

  /*****************************************************
  cards container div
  *****************************************************/

  &.cards {
    background-color: #471008;
    background-image: url("../images/red-cloud-bg-dk.jpg");
    background-size: 100%;
    background-position-y: -600px;
    background-repeat: no-repeat;

  .card-grid {
    margin: 0 auto;
    text-align: center;

    /*****************************************************
    card styling - need dynamic solution for card sizes
    *****************************************************/

    .card {
      background-color: black; //temp color
      border-radius: 7px;
      color: #fff;
      display: inline-block;
      margin: 10px;
      &.portrait {
        width: 156px;
        height: 235px;
      }
      &.landscape {
        width: 235px;
        height: 156px;
      }
    }
  }

  /*****************************************************
  card pop-up styling
  *****************************************************/

  .card-popup,
  .card-popup-content {
    display: none;
  }

  .card-popup {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: #000;
    border-radius: 6px;
    max-width: 900px;
    margin: 0 auto;
  }

}
