/********************************************************

2018 Colors

********************************************************/


// 2018 Palette Colors

$fire-yellow:                 #fcd05e;
$fire-gold:                   #f8b858;
$orange-haze:                 #db8a55;
$fire-orange:                 #ee7932;
$fire-orange-dark:            #d85128;
$maelstrom-red:               #a02617;
$light-gray:                  #e0dad8;
$mid-gray:                    #636363;
$rich-black:                  #050000;
$orb-glow:                    #eef189;
$dragon-breath:               #76ac4d;
$dragon-skin:                 #793148;
$rich-black:                  #050505;
$pale-blue:                   #e1ecf7;
$brickwall:                   #efdfba;
$light_green_orb:             #e2e551;
$green-orb:                   #8cc63f;
$purple-armor:                #9a73ab;
$taupe-armor:                 #99706d;
$tan-armor:                   #f1deb4;
$green-cape:                  #565d28;
$blonde-hair:                 #cfae61;
$light-dragon:                #b74467;
$dark-dragon:                 #60293a;
$orange-sky:                  #dd5e35;
$gold-sky:                    #e9b056;
$red-sky:                     #751f19;
$brick-mortar:                #a96235;
$brick:                       #6e5c40;
$comp-teal:                   #0b7a90;
$comp-royal-blue:             #005598;
$comp-purple:                 #6b067f;
$comp-forest:                 #187425;


// Element Colors

// Added for Landing Page

$color--card-border:          #333;
$color--event-type-bg:        #179fe2;

/****************************************************/

$color--wrapper:              $rich-black;
$color--sidebar-bg:           $light-gray;
$color--sidebar-border:       $mid-gray;

$nav--bg:                     $color--wrapper;
$nav--hover:                  lighten($color--wrapper,15%);  // hover for top nav
$nav--color:                  $light-gray; // color for the top nav links

$footer--bg:                  $color--wrapper;   // hover for top nav
$link--color:                 $red-sky;
$link--color-hover:           $red-sky;
$link--hover:                 $red-sky;
$reg-open:                    $red-sky;
$reg-closed:                  #aaa;
$page--title:                 $rich-black;

$notice--text:                #468847; // (flash) notice text
$notice--bg:                  #dff0d8; // (flash) notice background
$notice--border:              #d6e9c6; // (flash) notice border

$error--text:                 #fff;   // (flash) notice text
$error--bg:                   desaturate($maelstrom-red,15%);   // (flash) notice background
$error--border:               #eed3d7;  // (flash) notice border

$banner--bg:                  #282537; // background behind header banner

$panel--bg:                   lighten($brick,60%); // background for panel
$panel--border:               solid darken($panel--bg,30%) 1px; // panel border
$tablerow--even:              #eee9f1; // table row, even
$tablerow--even-hover:        #dfd9e8; // table row, even, hover
$tablerow--odd:               #f8f7fa; // table row, even

$ribbon--dropdown:            #383547;
$ribbon--bg:                  lighten($brick, 45%);
$ribbon--border:              solid darken($ribbon--bg,10%) 1px;
$ribbon--dropdown-hover:      lighten($ribbon--bg,10%); // ribbon dropdown menu hover
$ribbon--dropdown-hover-top:  lighten($ribbon--bg,5%); //top of gradient of ribbon nav dropdown

$forums--header:              lighten($blonde-hair,15%);
$forums--bg:                  lighten($forums--header,15%);
$forums--border:              solid #C1CCBF 1px;
$forums--light:               lighten($forums--header,10%);
$post--header:                #e1ecf7;

$records-table--header:       $brick;
$records-table--th-text:      #fff;
$records-table--odd:          #fff;
$records-table--even:         lighten($forums--light,10%);
$records-table--hover:        lighten($records-table--header,10%);
$records-table-row--hover:    darken($records-table--even,5%);

$color--sidebar:                #fac073;
$sidebar--bg:                   lighten($light-gray,5%);
$sidebar--bg-dark:              darken($sidebar--bg,20%);
$countdown--text:               #000; // (countdown text)
$countdown--text:               #000; // (countdown text)

$button--color:                 darken($maelstrom-red,10%);
$button--color-light:           lighten($button--color,20%);
$button--color-border:          darken($button--color,20%);
$button--color-box-shadow:      #c6da7b;
$button--color-text-shadow:     #819d15;
$button--color-text:            #fff;

$home-button--bg-color:         $red-sky;
$home-button--border-color:     darken($blonde-hair,20%);
$home-button-img--bg-color:     darken($blonde-hair,15%);
$co-sponsor--color:             $red-sky;

$button--full-row:              $blonde-hair;
$color--countdown-timer:        #1b753a; // background color for housing countdown timer

$color--message-current-user:   #edebe6; //background color for private messaging, current user panel
$color--message-other-user:     #f7f0dc; //background color for private messaging, other user panel
$color--message-unread:         #150082; //text color for unread message

$color--ticket-table-odd:        lighten($brick,50%); //background color for tickets table on user home page
$color--ticket-table-even:       lighten($brick,40%);; //background color for tickets table on user home page

$profile-tab--color:             $brick;
$profile-tab-hover--color:       lighten($profile-tab--color, 10%);

$ticket-select--bg-color:        $ribbon--bg;
