/***************************************************

Media Query variables

***************************************************/

$viewport--small:                     736px;
$viewport--medium:                    1024px;
$viewport--large:                     1224px;
$viewport--xlarge:                    1824px;
