//topnav ftp: remove before integration
.topnav-fpo {
  background-color: #000;
  height: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

// import scss
@import "fonts";
@import "colors";

/*****************************************************
New css variables
*****************************************************/
$section-heading:   proxima_nova_ltthin, Arial, sans-serif;
$sub-text:          proxima_nova_ltthin, Tahoma, sans-serif;
$sub-text-black:    proxima_nova_altblack, Tahoma, sans-serif;
$sub-text-bold:     proxima_nova_altbold, Tahoma, sans-serif;
$strong-link:       'Proxima Nova', sans-serif;


/*****************************************************
Landing Page styling
*****************************************************/

.landing-page {
  margin: 0;
  width: 100vw;
  padding: 0;
  font-family: $sub-text;

  section {
    width: 100%;
    padding: 10px;
    display: block;
    position: relative;

    h1,
    h2 {
      text-align: center;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      margin-left: 10%;
      margin-right: 10%;
    }

    h1 {
      font-family: $section-heading;
      font-size: 3em;
      font-weight: 700;
      position: relative;
      top: -0.2em;
    }

    h2 {
      font-family: $sub-text;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: .03em;
      opacity: 0.7;
      position: relative;
      top: -2em;
    }

    p {
      color: #fff;
      font-family: $sub-text;
      font-size: 18px;
      font-weight: lighter;
      letter-spacing: .03em;
      opacity: 0.7;
      position: relative;
      strong {
        font-weight: 700;
      }
    }

    a.strong-link {
      font-family: $strong-link;
      font-weight: 700;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    &.cards {
     background-color: #471008;
     background-image: url("../images/red-cloud-bg-dk.jpg");
     background-size: 100%;
     background-position-y: -600px;
     background-repeat: no-repeat;

     h1,
     h2 {
       color: #fff;
     }
   }

    &.splash {
      background: #999;
      padding: 0;
      margin-bottom: -5px;
      min-height: 500px;

      .logo-panel {
        max-width: 420px;
        min-width: 300px;
        position: absolute;
        top: 50px;
        width: 25%;
        z-index: 1;

        img {
          width: 100%;
        }
      }

      .bg-video {
        height: 550px;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;

        video {
          min-width: 100%;
          min-height: 550px;
          width: 100vw;
          z-index: 0;
          position: relative;
          top: -300px;
        }
      }
    }
    &.games {
    }

    &.more {
    }

    &.exhibit {
    }

    &.other {
    }

    &.how-to-play {
      background: #000;
      color: #fff;
      background-image: url('../images/htp-gameboard-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 150px;
      min-height: 700px;

      h1 {
        color: #fff;
      }

      .row:first-of-type {
        position: relative;
        top: 2em;
      }

      .row .columns h1 {
        font-family: $sub-text-black;
        font-size: 72px;
        margin: 0;
        line-height: 0;
        padding: 0;
        float: left;
      }
      .row .columns h2 {
        font-family: $sub-text;
        font-size: 26px;
        margin: 0;
        line-height: 1;
        padding: 0;
        float: left;
        margin: .5em 0 0 2em;
        color: white;
        text-align: left;
        opacity: 1;
      }

      .row.descriptions {
        position: relative;
        top: 260px;

        .columns {
          color: #000;
          font-size: 20px;
        }
      }

      .row.buttons {
        position: relative;
        top: 280px;

        .columns {
          color: #fff;
          font-size: 16px;
          text-align: center;
        }
      }
    }

    &.alt-play {
      background: #000;
      color: #fff;
      background-image: url('../images/altp-gameboard-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 160px;
      min-height: 700px;

      h1 {
        color: #fff;
      }

      .row:first-of-type {
        position: relative;
        top: 2em;
      }

      .row .columns h2 {
        font-family: $sub-text;
        font-size: 30px;
        margin: 0;
        line-height: 1;
        padding: 0;
        float: left;
        margin: .5em 0 0 2em;
        color: white;
        text-align: center;
        opacity: 1;
      }

      .row.descriptions {
        position: relative;
        top: 270px;

        .columns {
          color: #fff;
          font-size: 20px;
        }
      }

      .row.buttons {
        position: relative;
        top: 270px;

        .columns {
          color: #fff;
          font-size: 16px;
          text-align: center;
        }
      }
    }

    &.sponsor {
      background-color: #fff;
      min-height: 150px;

      .sponsor-logos {
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        width: 100%;

        img {
          margin: 5px 10px;
        }
      }

      h1 {
        font-family: $sub-text;
        font-size: 1.25em;
        color: #a4a0a0;
      }
    }
  }

  .card-grid {
    margin: 0 auto;
    text-align: center;

    .card {
      background-color: black; //temp color
      border-radius: 7px;
      color: #fff;
      display: inline-block;
      margin: 10px;

      &.portrait {
        width: 156px;
        height: 235px;
      }

      &.landscape {
        width: 235px;
        height: 156px;
      }
    }
  }
  .card-popup,
  .card-popup-content {
    display: none;


    .card-popup {
      color: #fff;
      text-align: center;
      width: 100%;
      height: 300px;
      background-color: #000;
      border-radius: 6px;
      max-width: 900px;
      margin: 0 auto;
    }

  }

  footer#landing-page-footer {
    background: #000;
    min-height: 300px;
    color: white;
    font-family: $sub-text;

    .site-map {
      margin: 0;
      width: 100%;
      margin: 0 auto;

      .site-area {
        width: 19%;
        float: left;
        &:first-child {
          margin-left: 20px;
        }

        h2 {
          font-size: 30px;
          text-transform: uppercase;
          margin-bottom: -0.3em;
          color: #fff;
        }

        ul {
          list-style: none;
          margin-left: 2px;
          margin-top: 5px;
          padding-left: 0;
        }

        ul li {
          font-size: 13px;
        }
      }
    }
  }
}


/*****************************************************
Helper classes to be replaced with Gen Con classes
*****************************************************/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*****************************************************
Gen Con specific classes
*****************************************************/

button .button, .button, input[type="button"], input[type="submit"], a.button {
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: normal !important;
    background: #a6d000;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a6d000), to(#608c00));
    background: -moz-linear-gradient(#a6d000, #608c00);
    background: linear-gradient(#a6d000, #608c00);
    border: solid 1px #829c15;
    box-shadow: inset 0 0 0 0 #c6da7b;
    color: #fff !important;
    text-shadow: 0 1px 0 #819d15;
    border-radius: 5px;
    margin-right: rem-calc(20);
    &.align-right {
      float:right;
      margin-right: 0 !important;
    }
    &.align-left {
      float: left;
      margin-left: 0 !important;
    }
    &.in-panel {
      margin: 5px;
    }
    &.on {
    background: #88a819;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#88a819), to(#c4e125));
    background: -moz-linear-gradient(#88a819, #c4e125);
    background: linear-gradient(#88a819, #c4e125);
    border: solid 1px #829c15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff !important;
    cursor: default;
    }
  }

  button .button, .button, input[type="button"], input[type="submit"], a.button {
    background: $button--color-light;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from($button--color-light), to($button--color));
    background: -moz-linear-gradient($button--color-light, $button--color);
    background: linear-gradient($button--color-light, $button--color);
    border: solid 1px $button--color-border;
    box-shadow: inset 0 0 0 0 $button--color-box-shadow;
    text-shadow: 0 1px 0 $button--color-text-shadow;
  }

.inline {
    padding: 0.4rem 0.5rem !important;
    margin: 0 0.4rem;
  }

.even {
    min-width: 8em;
}

.centered {
  text-align: center;
  margin: 10px !important;
}

.disabled {
    background: #ccc !important;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#7d7d7d)) !important;
    background: -moz-linear-gradient(#ccc, #7d7d7d) !important;
    background: linear-gradient(#ccc, #7d7d7d) !important;
    border: solid 1px #7d7d7d !important;
    text-shadow: none !important;
    color: #ddd !important;
    &:hover {
      border: solid 1px #7d7d7d !important;
      box-shadow: none !important;
      color: #ddd !important;
    }
}

button:hover, button:focus, .button:hover, .button:focus, a.button:hover, input[type="submit"]:hover,  .button.on, .button.on, input[type="button"].on, input[type="submit"].on, a.button.on{
    background: $button--color;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from($button--color), to($button--color));
    background: -moz-linear-gradient($button--color, $button--color);
    background: linear-gradient($button--color, $button--color);
    border: solid 1px $button--color-border;
    box-shadow: inset 0 0 0 1px $button--color-box-shadow;
    color: #fff !important;
  }

@import "cards";
