//topnav ftp: remove before integration
.topnav-fpo {
  height: 40px;
  background-color: #000;
  margin: 0;
  width: 100vw;
  padding: 0;
}

.landing-page {
  margin: 0;
  width: 100vw;
  padding: 0;

  section {
    width: 100%;
    padding: 10px;
    display: block;

    h1,
    h2 {
      text-align: center;
      font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: lighter;
      line-height: 0;
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 18px;
    }

    &.card {
      background-color: #471008;
      background-image: url("/images/red-cloud-bg-dk.jpg");
      background-size: 100%;
      background-position-y: -600px;
      background-repeat: no-repeat;
      
      h1,
      h2 {
        color: #fff;
      }
    }

    &.splash {
      background: #999;
      padding: 0;
      margin-bottom: -5px;

      .logo-panel {
        width: 25%;
        min-width: 300px;
        position: absolute;
        left: 10px;

        img {
          width: 100%;
        }
      }

      .bg-video {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .bg-video video {
        min-width: 100%;
        min-height: 100%;
      }
    }
    &.games {
    }

    &.more {
    }

    &.exhibit {
    }

    &.other {
    }

    &.how-to-play {
      background: #999;
    }

    &.alt-play {
      background: #999;
    }

    &.sponsor {
      background-color: #fff;
      min-height: 150px;

      .sponsor-logos {
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        width: 100%;
      }
    }

    .card-grid {
      display: flex;
      flex-direction: row;
    }
  }

  footer#landing-page-footer {
    background: #000;
    min-height: 300px;
  }
}
